.DUI-panel {
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d2d2d2;
}
@media only screen and (min-width: 1400px) {
    .DUI-panel--TOP10 {
        max-width:49%;
        width:49%;
        float:left;
    }
}

@media only screen and (min-width: 1024px) {
    .show-desktop { display: block; }
}
@media only screen and (max-width: 1023px) {
    .show-desktop { display: none; }
}


.DUI-panel__headline { 
    padding: 6px 10px 6px 10px;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
}
.DUI-panel__content {
    padding: 6px;
}
.DUI-panel__content--title {
    padding: 20px;
}


.DUI-table {
    _border: 1px solid #aaa;
    font-size: 1.0em;
    color: black;
}
.DUI-table td { overflow-wrap: anywhere; }
.DUI-table thead th { border-bottom: 1px solid #eee;  }
.DUI-table tbody tr:nth-child(odd) { background-color: white; }
.DUI-table tbody tr:nth-child(even) { background-color: white; }
.DUI-table__col--number { text-align: right; white-space: nowrap; }